<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Ranking</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
	<!-- Bootstrap Styles-->
	<link href="/css/bootstrap.css" rel="stylesheet"/>
	<!-- FontAwesome Styles-->
	<link href="/css/font-awesome.css" rel="stylesheet"/>
	<!-- Morris Chart Styles-->
	<link href="/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
	<!-- Custom Styles-->
	<link href="/css/custom-styles.css" rel="stylesheet"/>
	<!-- Google Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="/js/Lightweight-Chart/cssCharts.css">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<script type="text/javascript">
		function searchRedirect(){
			var search=document.getElementById('search').value;
			var compIdx=document.getElementById('compIdx').value;
			var roundIdx=document.getElementById('roundIdx').value;
			var url="/recordcomp?compIdx="+compIdx+"&roundIdx="+roundIdx+"&search="+search;
			location.href=url;
		}

		function enterSearch(){
			if(window.event.keyCode==13) {
				var search = document.getElementById('search').value;
				var compIdx = document.getElementById('compIdx').value;
				var roundIdx = document.getElementById('roundIdx').value;
				var url = "/recordcomp?compIdx=" + compIdx + "&roundIdx=" + roundIdx + "&search=" + search;
				location.href = url;
			}
		}
	</script>
</head>

<body>
<div id="wrapper">
	<nav class="navbar navbar-default top-navbar" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
					data-target=".sidebar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand waves-effect waves-dark" th:href="index">
				<strong>CompRanking</strong></a>

			<div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
		</div>

		<ul class="nav navbar-top-links navbar-right">
			<li>
				<a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1">
					<div sec:authorize="isAnonymous()">
						<i class="fa fa-user fa-fw"></i> <b>login</b>
						<i class="material-icons right">arrow_drop_down</i>
					</div>
					<div sec:authorize="isAuthenticated()">
						<i class="fa fa-user fa-fw"></i> <b sec:authentication="name"></b>
						<i class="material-icons right">arrow_drop_down</i>
					</div>
				</a>
			</li>
		</ul>
	</nav>
	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
		<div sec:authorize="isAnonymous()">
			<li><a href="/login"><i class="fa fa-user fa-fw"></i>로그인</a>
			</li>
		</div>

		<div sec:authorize="isAuthenticated()">
			<li><a href="/register"><i class="fa fa-user fa-fw"></i> My Profile</a>
			</li>
			<form id="logout" action="/logout" method="post" onclick="this.submit()">
				<li><i class="fa fa-sign-out fa-fw"></i> Logout
			</form>
			</li>
		</div>
	</ul>
	<!--/. NAV TOP  -->
	<nav class="navbar-default navbar-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav" id="main-menu">


				<li>
					<a class="active-menu waves-effect waves-dark" th:href="index"><i class="fa fa-dashboard"></i>대회
						목록<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li>
							<a th:href="@{/#future}">다가오는 대회</a>
						</li>
						<li>
							<a th:href="@{/#now}">진행중인 대회</a>
						</li>
						<li>
							<a th:href="@{/#past}">종료된 대회</a>
						</li>
					</ul>
				</li>
				<li>
					<a th:href="register" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i>개인 기록 보러가기</a>
				</li>
				<li>
					<a th:href="register" class="waves-effect waves-dark"><i class="fa fa-edit"></i> 대회 신청 </a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- /. NAV SIDE  -->

	<div id="page-wrapper">
		<div class="header">
			<h1 class="page-header">
				[[${comp.compName}]]
			</h1>
			<h3 class="page-header">
				[[${round.eventName}]] [[${round.round}]]
			</h3>

		</div>

		<div class="page-inner">
			<div class="row">
				<div class="input-field col s9">
					<input id="search" name="search" type="text" class="validate" placeholder="search" onkeyup="enterSearch()" autofocus />
					<input type="hidden" id="compIdx" name="compIdx" th:value="${compIdx}">
					<input type="hidden" id="roundIdx" name="roundIdx" th:value="${roundIdx}">
				</div>
				<a onclick="searchRedirect()" class="waves-effect waves-light btn">검색하기</a>
			`	<a th:href="@{/addparticipate(compIdx=${compIdx}, roundIdx=${roundIdx})}" class="waves-effect waves-light btn">선수 추가</a>
				<a th:href="@{/advance(compIdx=${compIdx}, roundIdx=${roundIdx})}" class="waves-effect waves-light btn">기록 확정</a>
			</div>

			<div class="row">
				<div class="col-md-12">
					<!-- Advanced Tables -->
					<div class="card">
						<div class="card-content">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover" id="dataTables-example">
									<thead>
									<tr>
										<th>순위</th>
										<th>이름</th>
										<th>아이디</th>
										<th>평균</th>
										<th>최고</th>
										<th>1</th>
										<th>2</th>
										<th>3</th>
										<th>4</th>
										<th>5</th>

									</tr>
									</thead>
									<div th:each="part, partStat:${partList}">
										<form th:action="@{/recordcomp(compIdx=${compIdx}, roundIdx=${roundIdx}, idx=${part.idx})}" method="post" th:object="${recorder}">
											<input type="hidden" id="csrfToken" name="_csrf" th:value="${csrfToken}">
										<tbody>
										<td>[[${part.ranking}]]</td>
										<td>[[${part.userName}]]</td>
										<td>[[${part.email}]]</td>
										<td th:if="${part.avgM>0}">[[${part.avgM}]]:[[${part.avgS}]]</td>
										<td th:if="${part.avgS==-1}">DNF</td>
										<td th:if="${part.avgS==-2}">DNS</td>
										<td th:if="${part.avgM==0} and ${part.avgS==0}"></td>
										<td th:if="${part.avgM==0} and ${part.avgS>0}">[[${part.avgS}]]</td>
										<td th:if="${part.singleM>0}">[[${part.singleM}]]:[[${part.singleS}]]</td>
										<td th:if="${part.singleS==-1}">DNF</td>
										<td th:if="${part.singleS==-2}">DNS</td>
										<td th:if="${part.singleM==0} and ${part.singleS==0}"></td>
										<td th:if="${part.singleM==0} and ${part.singleS>0}">[[${part.singleS}]]</td>
										<td>
											<input type="number" id="first" name="first" th:value="${part.m1}*10000+${#numbers.formatInteger(part.s1*100,1)}">
										</td>
										<td>
											<input type="number" id="second" name="second" th:value="${part.m2}*10000+${#numbers.formatInteger(part.s2*100,1)}">
										</td><td>
											<input type="number" id="third" name="third" th:value="${part.m3}*10000+${#numbers.formatInteger(part.s3*100,1)}">
										</td><td>
											<input type="number" id="fourth" name="fourth" th:value="${part.m4}*10000+${#numbers.formatInteger(part.s4*100,1)}">
										</td><td>
											<input type="number" id="fifth" name="fifth" th:value="${part.m5}*10000+${#numbers.formatInteger(part.s5*100,1)}">
										</td>
										<td>
										<div class="button">
											<button type="submit" class="waves-effect waves-light btn">입력</button>
										</div>
										</form>
											<form th:action="@{/deleterecord(compIdx=${compIdx}, roundIdx=${roundIdx}, idx=${part.idx})}" method="post" id="dt">
												<input type="hidden" id="csrfToken1" name="_csrf" th:value="${csrfToken}">
											<div class="button">
												<button type="button" onclick="deleteConfirm()" class="waves-effect waves-light btn">삭제</button>
											</div>
											</form>
										</td>
										</tr>
										</tbody>

									</div>
								</table>
							</div>
						</div>
					</div>
					<!--End Advanced Tables -->
					<form class="col s12" th:action="@{/updateadvance(compIdx=${compIdx}, roundIdx=${roundIdx})}" method="post">
						<div class="row">
							<div class="input-field col s1">
								<input type="hidden" id="csrfToken2" name="_csrf" th:value="${csrfToken}">
								<input type="number" name="advance" id="advance" class="validate">
								<label>진출인원 갱신</label>
							</div>
							<button type="submit" class="waves-effect waves-light btn">진출인원 갱신</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /. PAGE INNER  -->
	</div>
	<!-- JS Scripts-->
	<!-- jQuery Js -->
	<script src="/js/jquery-1.10.2.js"></script>

	<!-- Bootstrap Js -->
	<script src="/js/bootstrap.min.js"></script>

	<script src="/materialize/js/materialize.min.js"></script>

	<!-- Metis Menu Js -->
	<script src="/js/jquery.metisMenu.js"></script>
	<!-- Morris Chart Js -->
	<script src="/js/morris/raphael-2.1.0.min.js"></script>
	<script src="/js/morris/morris.js"></script>


	<script src="/js/easypiechart.js"></script>
	<script src="/js/easypiechart-data.js"></script>

	<script src="/js/Lightweight-Chart/jquery.chart.js"></script>

	<!-- Custom Js -->
	<script src="/js/custom-scripts.js"></script>

	<script>function deleteConfirm(){
		if(confirm("정말 삭제하시겠습니까?")){
			document.getElementById("dt").submit();
		}
		else{
			return false;
		}
	}
	</script>

</div>
</body>

</html>