<!DOCTYPE html>>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ranking</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
	<!-- Bootstrap Styles-->
	<link href="/css/bootstrap.css" rel="stylesheet" />
	<!-- FontAwesome Styles-->
	<link href="/css/font-awesome.css" rel="stylesheet" />
	<!-- Morris Chart Styles-->
	<link href="/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
	<!-- Custom Styles-->
	<link href="/css/custom-styles.css" rel="stylesheet" />
	<!-- Google Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/js/Lightweight-Chart/cssCharts.css">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
<div id="wrapper">
	<nav class="navbar navbar-default top-navbar" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
					data-target=".sidebar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand waves-effect waves-dark" th:href="index">
				<strong>CompRanking</strong></a>

			<div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
		</div>

		<ul class="nav navbar-top-links navbar-right">
			<li>
				<a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1">
					<div sec:authorize="isAnonymous()">
						<i class="fa fa-user fa-fw"></i> <b>login</b>
						<i class="material-icons right">arrow_drop_down</i>
					</div>
					<div sec:authorize="isAuthenticated()">
						<i class="fa fa-user fa-fw"></i> <b sec:authentication="name"></b>
						<i class="material-icons right">arrow_drop_down</i>
					</div>
				</a>
			</li>
		</ul>
	</nav>
	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
		<div sec:authorize="isAnonymous()">
			<li><a href="/login"><i class="fa fa-user fa-fw"></i>로그인</a>
			</li>
		</div>

		<div sec:authorize="isAuthenticated()">
			<li><a href="/register"><i class="fa fa-user fa-fw"></i> My Profile</a>
			</li>
			<form id="logout" action="/logout" method="post" onclick="this.submit()">
				<li><i class="fa fa-sign-out fa-fw"></i> Logout
			</form>
			</li>
		</div>
	</ul>
		<!--/. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="main-menu">


					<li>
						<a class="active-menu waves-effect waves-dark" th:href="index"><i class="fa fa-dashboard"></i>대회 목록<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a th:href="@{/#future}">다가오는 대회</a>
							</li>
							<li>
								<a th:href="@{/#now}">진행중인 대회</a>
							</li>
							<li>
								<a th:href="@{/#past}">종료된 대회</a>
							</li>
						</ul>
					</li>
					<li>
						<a th:href="register" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i>개인 기록 보러가기</a>
					</li>
					<li>
						<a th:href="register" class="waves-effect waves-dark"><i class="fa fa-edit"></i> 대회 신청 </a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- /. NAV SIDE  -->

        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
					[[${comp.compName}]]
                </h1>
            </div>
            <div class="page-inner">
                <div class="dashboard-cards">
                    <div class="row">
                        <div class="col-xs-12">
        					<div th:each="past:${pastList}">
                            <div class="card horizontal cardIcon waves-effect waves-dark" th:onclick="|location.href='@{/record(compIdx=${comp.idx}, roundIdx=${past.idx})}'|">
                                <div class="card-image blue"><!--완료는 파란색-->
									<img th:src="@{'/img/'+${past.eventName}+'.svg'}"/>
                                </div>
                                <div class="card-stacked blue">
                                    <div class="card-content">
                                        <h3>[[${past.eventName}]] [[${past.round}]]</h3>
                                    </div>
                                    <div class="card-action">
                                        <strong>[[${#dates.format(past.eventStart, 'HH:mm')}]] - [[${#dates.format(past.eventEnd, 'HH:mm')}]]</strong>
                                    </div>
                                </div>
                            </div>
								<div sec:authorize="hasAuthority('admin')">
									<div>
										<a class="waves-effect waves-light btn"  th:href="@{/recordcomp(compIdx=${comp.idx}, roundIdx=${past.idx})}">기록 입력하기</a>
										<form th:action="@{/deleteround(compIdx=${comp.idx}, roundIdx=${past.idx})}" method="post" id="p">
											<input type="hidden" id="csrfToken1" name="_csrf" th:value="${csrfToken}">
											<button type="button"  onclick="deleteConfirmP()" class="waves-effect waves-light btn">삭제</button>
										</form>
									</div>
								</div>
							</div>
                        </div>
                        <div class="col-xs-12">

							<div th:each="now:${nowList}">
                            <div class="card horizontal cardIcon waves-effect waves-dark" th:onclick="|location.href='@{/record(compIdx=${comp.idx}, roundIdx=${now.idx})}'|">
                                <div class="card-image green"><!--진행은 초록색-->
									<img th:src="@{'/img/'+${now.eventName}+'.svg'}"/>
                                </div>
                                <div class="card-stacked green">
                                    <div class="card-content">
                                        <h3>[[${now.eventName}]] [[${now.round}]]</h3>
                                    </div>
                                    <div class="card-action">
                                        <strong>[[${#dates.format(now.eventStart, 'HH:mm')}]] - [[${#dates.format(now.eventEnd, 'HH:mm')}]]</strong>
                                    </div>
                                </div>
							</div>
								<div sec:authorize="hasAuthority('admin')">
									<div>
										<a class="waves-effect waves-light btn"  th:href="@{/recordcomp(compIdx=${comp.idx}, roundIdx=${now.idx})}">기록 입력하기</a>
										<form th:action="@{/deleteround(compIdx=${comp.idx}, roundIdx=${now.idx})}" method="post" id="n">
											<input type="hidden" id="csrfToken2" name="_csrf" th:value="${csrfToken}">
											<button type="button"  onclick="deleteConfirmN()" class="waves-effect waves-light btn">삭제</button>
										</form>
									</div>
								</div>
                            </div>
        
                        </div>
                        <div class="col-xs-12">
							<div th:each="future:${futureList}">
                            <div class="card horizontal cardIcon waves-effect waves-dark" th:onclick="|location.href='@{/record(compIdx=${comp.idx}, roundIdx=${future.idx})}'|">
                                <div class="card-image orange"><!--예정은 노란색-->
									<img th:src="@{'/img/'+${future.eventName}+'.svg'}"/>
                                </div>
                                <div class="card-stacked orange">
                                    <div class="card-content">
                                        <h3>[[${future.eventName}]] [[${future.round}]]</h3>
                                    </div>
                                    <div class="card-action">
                                        <strong>[[${#dates.format(future.eventStart, 'HH:mm')}]] - [[${#dates.format(future.eventEnd, 'HH:mm')}]]</strong>
                                    </div>
                                </div>
                            </div>
								<div sec:authorize="hasAuthority('admin')">
									<div>
										<a class="waves-effect waves-light btn"  th:href="@{/recordcomp(compIdx=${comp.idx}, roundIdx=${future.idx})}">기록 입력하기</a>
										<form th:action="@{/deleteround(compIdx=${comp.idx}, roundIdx=${future.idx})}" method="post" id="f">
											<input type="hidden" id="csrfToken3" name="_csrf" th:value="${csrfToken}">
											<button type="button"  onclick="deleteConfirmF()" class="waves-effect waves-light btn">삭제</button>
										</form>
									</div>
								</div>
							</div>
        
                        </div>
                    </div>
					<div sec:authorize="hasAuthority('admin')">
						<div class="">
							<a class="waves-effect waves-light btn-large" th:href="@{/makeround(countRound=1, compIdx=${comp.idx})}">라운드 추가하기</a>
						</div>
					</div>
                </div>
            </div>
        </div>
		<!-- /. PAGE INNER  -->
	</div>
	<!-- JS Scripts-->
	<!-- jQuery Js -->
	<script src="/js/jquery-1.10.2.js"></script>

	<!-- Bootstrap Js -->
	<script src="/js/bootstrap.min.js"></script>

	<script src="/materialize/js/materialize.min.js"></script>

	<!-- Metis Menu Js -->
	<script src="/js/jquery.metisMenu.js"></script>
	<!-- Morris Chart Js -->
	<script src="/js/morris/raphael-2.1.0.min.js"></script>
	<script src="/js/morris/morris.js"></script>


	<script src="/js/easypiechart.js"></script>
	<script src="/js/easypiechart-data.js"></script>

	<script src="/js/Lightweight-Chart/jquery.chart.js"></script>

	<!-- Custom Js -->
	<script src="/js/custom-scripts.js"></script>

	<script>function deleteConfirmP(){
		if(confirm("정말 삭제하시겠습니까?")){
			document.getElementById("p").submit();
		}
		else{
			return false;
		}
	}
	function deleteConfirmN(){
		if(confirm("정말 삭제하시겠습니까?")){
			document.getElementById("n").submit();
		}
		else{
			return false;
		}
	}
	function deleteConfirmF(){
		if(confirm("정말 삭제하시겠습니까?")){
			document.getElementById("f").submit();
		}
		else{
			return false;
		}
	}
	</script>


</body>

</html>